a, .posttitle a:hover, .entry p a:visited {
	color: #CC1F27;
}

a:hover {
	color: #6E0F01;
}

.datestamp { 
	background: #F89799;
	border: 1px solid #6E0F01;
}

.datestamp div {
	background: #B31706 url(images/cal_bg.jpg) repeat-x;
}
input[type="button"], input[type="submit"], button {
	background-color: #CC1F27;
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover {
	background-color: #6E0F01;
}