/* 
Pretty Buttons CSS
Based from ZURB's Example: http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba
*/
input[type="button"], input[type="submit"], button {
	background:url(i/alert-overlay.png) repeat-x;
	border: 0px;
	display: inline-block;
	padding: 5px 10px 6px !important;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
input[type="button"]:active, input[type="submit"]:active, button:active {
	top: 1px;
}