a, a:hover, .entry p a:visited {
	color: #007062;
}

.posttitle a:hover {
	color: #00BA9D;
}

.entry p a {
	border-bottom: 1px dotted #206E01;
}

.entry p a:hover {
	border-bottom: 1px solid #206E01;
	text-decoration: none;
}

#wp-calendar a {
	font-weight: bold;
}

.datestamp { 
	background: #91FDDF;
	border: 1px solid #007062;
}

.datestamp div {
	background: #00BA9D url(images/cal_bg.jpg) repeat-x;
}
input[type="button"], input[type="submit"], button {
	background-color: #007062;
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover {
	background-color: #00BA9D;
}